<head>
				<meta charset="UTF-8">
				<title>Test</title>
				<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
				<meta name="format-detection" content="telephone=no">
				<meta name="msapplication-tap-highlight" content="no">
			
				<link rel="icon" type="image/x-icon" href="assets/icon/favicon.ico">
				<link rel="manifest" href="manifest.json">
				<meta name="theme-color" content="#4e8ef7">
			
				<!-- add to homescreen for ios -->
				<meta name="apple-mobile-web-app-capable" content="yes">
				<meta name="apple-mobile-web-app-status-bar-style" content="black">
				<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
				<script src="/views/default/app.js"></script>
				<link href="/views/default/main.css" rel="stylesheet">
			
			</head><div class="item">
	<h1>Memory, Cognition and Caffeine?</h1>
	<p>The University of Barcelona has shown that caffeine may contribute to increase memory and cognition as we age.</p>
</div>
<img src="https://i.imgur.com/ex8tFnt.png">
