<head>
				<meta charset="UTF-8">
				<title>Test</title>
				<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
				<meta name="format-detection" content="telephone=no">
				<meta name="msapplication-tap-highlight" content="no">
			
				<link rel="icon" type="image/x-icon" href="assets/icon/favicon.ico">
				<link rel="manifest" href="manifest.json">
				<meta name="theme-color" content="#4e8ef7">
			
				<!-- add to homescreen for ios -->
				<meta name="apple-mobile-web-app-capable" content="yes">
				<meta name="apple-mobile-web-app-status-bar-style" content="black">
				<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
				<script src="/views/custom/app.js"></script>
				<link href="/views/custom/main.css" rel="stylesheet">
			
			</head><script id="mustacheTempalte_a" type="text/template">
<div class="item">
	{{#data}}
		{{#isSexNotSet}}
			<h1>Memory, Cognition and Caffeine?</h1>
			<p class="green">The University of Barcelona has shown that caffeine may contribute to increase memory and cognition as we age.</p>
			<img src="https://i.imgur.com/ex8tFnt.png">
		{{/isSexNotSet}}
		{{#isMale}}
		<h2>Hi <span class="blue underline">{{name}},</span>
		<br>
		Have you ever wondered how caffeine impacts blood pressure for men?
	</h2>
		<p class="blue">According to the American journal of cardiology men who drink Caffeine have increased blood pressure and do increased vascular resistance as opposed to increased cardio output.</p>
		<img src="https://i.imgur.com/LMw9Wkj.png" />
		{{/isMale}}
		{{#isFemale}}
		<h2>Hi <span class="red underline">{{name}},</span>
		<br>
		Have you ever wondered how caffeine impacts women ability to solve complex tests?
	</h2>
		<p class="red">Researchers at Bristol University in UK have shown that women who drink caffeine performed complex tasks better than women who did not.</p>
		<img src="https://i.imgur.com/yl2GJcr.png" />
		{{/isFemale}}	
	{{/data}}
	</div>
</script>
<div class="target-output" data-template-chosen="a"></div>
